sudo: false
language: node_js
node_js:
  - "5"
  - "4"

env:
  global:
    secure: Iudzt3u8W/JujxrD9U+Z23rg3IS6mE604C/u49yvs+/8t+MwMfc1XHorIc5tHy+Uo5ViXc1sa/teRcsVFnZ5X+GzHV0Fd3TlbDRKopT4stHrRaApw1SJxUgJMMpGKU5jQnPo4E4VeDnU7tuylmX8N8rFudHg313yKi4CJsnphwQ=

addons:
  firefox: "latest"

cache:
  directories:
    - node_modules

before_install:
  # - "export DISPLAY=:99.0"
  # - "sh -e /etc/init.d/xvfb start"

install:
  # - npm install -g webdriver-manager
  # - npm install -g codeclimate-test-reporter
  # - npm install -g coveralls
  - npm install
  # - webdriver-manager update --standalone

before_script:
  # - webdriver-manager start > /dev/null &
  # - sleep 2
  # - npm start &
  # - sleep 2

script: npm test

# after_script:
#   - cat ./coverage/lcov.info | coveralls
#   - codeclimate < ./coverage/lcov.info
