language: node_js
node_js:
  - '0.11'
  - '0.10'

env:
  global:
    secure: CItDgN2g8mzxmNJSKQH/28Z7zUAPyUyEuw1oG+99nAjSLhwsIC1DIktO4rQN7HhYIt32YMrH60KZB7CKi3CK8+hNDOtfyoyfc8rdb5TXE1SSlH53Valhj3+EIw0AM+D3VOksjxGx5P7W0HWt2ZBP4Omk5IWQkY8YsI0/3ZoXWkk=

cache:
  directories:
    - node_modules

install:
  - npm install -g codeclimate-test-reporter
  - npm install -g coveralls
  - npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - phantomjs -w &
  - sleep 3
  - npm start &
  - sleep 3

script: npm run coverage

after_script:
  - cat ./coverage/lcov.info | coveralls
  - codeclimate < ./coverage/lcov.info
