#lodash {
  background: #fff;
  /* small viewports */
  /* large viewports */
}
#lodash .highlight {
  border: 1px solid #d3d3d3;
}
#lodash code {
  font-family: Consolas, Courier New, monospace;
}
#lodash pre {
  background: #f3f6fa;
  margin: 1em 0;
  padding: .5em 20px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
#lodash pre.intro {
  font-size: 1.2em;
}
#lodash pre::-webkit-scrollbar {
  height: 8px;
}
#lodash pre::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#lodash pre::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}
#lodash pre,
#lodash h1 span {
  color: #567482;
}
#lodash h1,
#lodash h2,
#lodash h3,
#lodash h4,
#lodash p,
#lodash ul,
#lodash ol {
  font-weight: normal;
  padding: 0 20px;
  word-wrap: break-word;
}
#lodash h2,
#lodash h3,
#lodash h4 {
  margin: 0 0 .5em;
}
#lodash h4 {
  font-weight: bold;
}
#lodash a {
  color: #222;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
#lodash a:hover,
#lodash a:focus {
  border-color: #222;
}
#lodash a img {
  border: 0;
}
#lodash abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
#lodash hr {
  display: none;
}
#lodash p {
  margin-bottom: 1em;
}
#lodash ul,
#lodash ol {
  margin-left: 2em;
}
#lodash ul ul,
#lodash ol ol {
  margin-left: 1em;
  padding: 0;
}
#lodash .a-img {
  border: 0;
}
#lodash .a-img img {
  padding: .5em 0 0 0;
}
#lodash .description {
  word-wrap: break-word;
}
#lodash .multiline-items li {
  padding-bottom: 1em;
}
#lodash .multiline-items li.last-item {
  padding-bottom: 0;
}
#lodash a.alias {
  opacity: .5;
}
#lodash div div div {
  border: 1px solid #d3d3d3;
  border-top: 0;
  margin: 0 .5em 1em .5em;
}
#lodash h1,
#lodash h2,
#lodash h3,
#lodash h4,
#lodash p,
#lodash ul,
#lodash ol {
  padding: 0 10px;
}
#lodash pre {
  margin: 0;
  padding: .5em 10px;
}
#lodash ul li {
  list-style-type: none;
  margin: 0 0 0 -0.9em;
}
#lodash h1 {
  padding: 0 10px;
}
#lodash h2 {
  margin: .5em 0 0 0;
}
#lodash h3 {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  box-shadow: 0 .25em .5em #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin: .5em 0;
  padding: .75em 0 .75em 10px;
  position: relative;
}
#lodash h3 > code {
  color: #eee;
}
#lodash h3 a {
  position: absolute;
  top: 0;
}
#lodash .project-name {
  position: fixed;
  height: 3.5rem;
  font-size: 1.75rem;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 959px) {
  #lodash h1,
  #lodash h2,
  #lodash h3,
  #lodash h4,
  #lodash p,
  #lodash ul,
  #lodash ol {
    padding: 0 10px;
  }
  #lodash pre {
    padding: 5px 10px !important;
  }
  #lodash #social {
    height: auto;
  }
  #lodash .toc-container a {
    display: block;
    padding: 5px;
  }
  #lodash .toc-container a:hover,
  #lodash .toc-container a:focus {
    background-color: #EEE;
  }
  #lodash .toc-container a:active {
    background-color: #CCC;
  }
}
@media (min-width: 960px) {
  #lodash a[href="#docs"],
  #lodash footer {
    display: none;
  }
  #lodash h3 a {
    display: block;
    position: relative;
    visibility: hidden;
    top: -4rem;
    /* equal to negative of (.doc-container padding-top) + (h3 margin-top) */
  }
  #lodash .toc-container {
    background: #fff;
    font-size: 1.1rem;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 3.5rem;
    white-space: nowrap;
    width: 20%;
    -webkit-overflow-scrolling: touch;
  }
  #lodash .toc-container h2,
  #lodash .toc-container ul {
    margin-top: 0;
    padding: 0 10px;
  }
  #lodash .doc-container {
    background: #fff;
    width: 80%;
    margin-left: 20%;
    padding-top: 3.5rem;
  }
  #lodash .doc-container .first-heading {
    margin-top: 0;
  }
}
