body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 52px;
}
.navbar {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: lighter;
  color: #777777;
  background-color: #fff;
  box-shadow: 0 -2px 8px #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.navbar .navbar-brand {
  font-weight: normal;
  color: #777777;
}
.navbar .navbar-text {
  font-weight: lighter;
  color: #777777;
}
.navbar .navbar-text a + a {
  margin-left: 15px;
}
.navbar .nav li a {
  color: #777777;
  padding-top: 15px;
  padding-bottom: 16px;
  text-decoration: underline;
}
.navbar .nav li a:hover {
  background-color: #155799;
  color: #fff;
}
#lodash {
  color: #777777;
  background: #fff;
}
#lodash .doc-container .highlight {
  border: 1px solid #d3d3d3;
  margin: 0 .5em 0.5em .5em;
}
#lodash code {
  padding: 0;
  color: #777777;
  font-family: Consolas, Courier New, monospace;
  background: none;
  border-radius: 0;
}
#lodash pre {
  background: #f3f6fa;
  margin: 1em 0;
  padding: .5em 20px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
#lodash pre.intro {
  font-size: 1.2em;
}
#lodash pre::-webkit-scrollbar {
  height: 8px;
}
#lodash pre::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#lodash pre::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}
#lodash pre,
#lodash h1 span {
  color: #567482;
}
#lodash h1,
#lodash h2,
#lodash h3,
#lodash h4,
#lodash p,
#lodash ul,
#lodash ol {
  font-weight: normal;
  padding: 0 20px;
  word-wrap: break-word;
}
#lodash h2,
#lodash h3,
#lodash h4 {
  margin: 0 0 .5em;
}
#lodash h4 {
  font-size: 12px;
  font-weight: bold;
}
#lodash a {
  color: #222;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
#lodash a:hover,
#lodash a:focus {
  border-color: #222;
}
#lodash a img {
  border: 0;
}
#lodash abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
#lodash hr {
  display: none;
}
#lodash p {
  margin-bottom: 1em;
}
#lodash ul,
#lodash ol {
  margin-left: 2em;
}
#lodash ul ul,
#lodash ol ol {
  margin-left: 1em;
  padding: 0;
}
#lodash .a-img {
  border: 0;
}
#lodash .a-img img {
  padding: .5em 0 0 0;
}
#lodash .description {
  word-wrap: break-word;
}
#lodash .multiline-items li {
  padding-bottom: 1em;
}
#lodash .multiline-items li.last-item {
  padding-bottom: 0;
}
#lodash a.alias {
  opacity: .5;
}
#lodash .doc-container div div {
  border: 1px solid #d3d3d3;
  border-top: 0;
  margin: 0 .5em 1.5em .5em;
  font-size: 12px;
}
#lodash h1,
#lodash h2,
#lodash h3,
#lodash h4,
#lodash p,
#lodash ul,
#lodash ol {
  padding: 0 10px;
}
#lodash pre {
  margin: 0;
  padding: .5em 10px;
  border: 0;
}
#lodash ul li {
  list-style-type: none;
  margin: 0 0 0 -0.9em;
}
#lodash h1 {
  padding: 0 10px;
}
#lodash h2 {
  margin: .5em 0 0 0;
}
#lodash h3 {
  background-color: #155799;
  background-image: linear-gradient(90deg, #155799, #1d7d99, #155799);
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin: .5em 0;
  padding: .75em 0 .75em 10px;
  font-size: 14px;
  position: relative;
}
#lodash h3 > code {
  color: #eee;
}
#lodash h3 a {
  position: absolute;
  top: 0;
}
#lodash .project-name {
  position: fixed;
  height: 3.5rem;
  font-size: 1.75rem;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#lodash .project-name a {
  border: none;
}
#lodash h3 a {
  display: block;
  position: relative;
  visibility: hidden;
  top: -67px;
}
#lodash .toc-container {
  padding: 15px;
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
#lodash .toc-container h2,
#lodash .toc-container ul {
  margin-top: 0;
  padding: 0 10px;
}
#lodash .doc-container .first-heading {
  margin-top: 0;
}
@media (min-width: 768px) {
  #lodash .toc-container {
    position: fixed;
    top: 52px;
    bottom: 0;
  }
}
.main-content {
  max-width: 700px;
  margin: 0 auto;
}
.main-content img {
  max-width: 100%;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #155799;
}
.main-content p {
  margin-bottom: 1em;
}
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.4rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .highlight {
  margin-bottom: 1rem;
}
.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.main-content .highlight pre,
.main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}
.main-content pre code,
.main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
  content: normal;
}
.main-content ul,
.main-content ol {
  margin-top: 0;
}
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
  margin-top: 0;
}
.main-content blockquote > :last-child {
  margin-bottom: 0;
}
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.main-content table th {
  font-weight: bold;
}
.main-content table th,
.main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}
