<nav class="navbar navbar-fixed-top navbar-inverse container-fluid">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <strong>Cucumber-Mink</strong>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
      <p class="navbar-text navbar-right">
        <a href="https://www.npmjs.com/package/cucumber-mink">
          <img src="https://img.shields.io/npm/v/cucumber-mink.svg?style=flat" alt="NPM Version">
        </a>
      </p>
      <ul class="nav navbar-nav">
        <li {% if page.active == "home" %}class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if page.active == "steps" %}class="active"{% endif %}><a href="/steps">Steps Dictionary</a></li>
        <li><a href="https://github.com/Adezandee/cucumber-mink">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
