<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cucumber-mink</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
      <p class="navbar-text">cucumber.js steps dictionary</p>
      <p class="navbar-text">
        <a href="https://www.npmjs.com/package/cucumber-mink">
          <img src="https://img.shields.io/npm/v/cucumber-mink.svg?style=flat" alt="NPM Version">
        </a>
        <a href="https://github.com/Adezandee/cucumber-mink">
          <img src="https://github.com/favicon.ico" width="20" height="20" alt="Github Repo"/>
        </a>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/steps">Steps Dictionary</a></li>
        <li><a href="/api">Core API</a></li>
      </ul>
    </div>
  </div>
</nav>
