---
layout: default
title: Steps Dictionary - Cucumber-mink
description: Browse the 40+ Available cucumber-mink steps
active: steps
---

<div class="container-fluid">
  <div class="row">
    <aside class="sidebar col-xs-12">
      {% for step in site.data.steps %}
      <div>
        <h2>{{ step.title }}</h2>
        <ul>
          {% for method in step.methods %}
          <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </aside>
    <main class="docs col-xs-12">
      {% for step in site.data.steps %}
        <h2>“{{ step.title }}” Methods</h2>
        {% for method in step.methods %}
        <section class="card" id="{{ method.title | slugify }}">
          <h2>
            <a tabindex="2" class="name" href="#{{ method.title | slugify }}">{{ method.title }}</a>
            <span class="pull-right">
              <span class="label label-category">{{ method.regex }}</span>
            </span>
          </h2>
          <div class="description">
            {{ method.description | markdownify }}
          </div>
          <pre><code class="gherkin">{{ method.example }}</code></pre>
        </section>
        {% endfor %}
      {% endfor %}
    </main>
  </div>
</div>
