---
layout: default
---

<div id="lodash">
  <h1 class="project-name">
    <a href="/">Cucumber-mink</a>
    <a href="https://www.npmjs.com/package/cucumber-mink">
      <img src="https://img.shields.io/npm/v/cucumber-mink.svg?style=flat" alt="NPM Version">
    </a>
  </h1>
  <div class="toc-container">
    {% for step in site.data.steps %}
      <div>
        <h2 class="first-heading"><code>{{ step.title }}</code></h2>
        <ul>
          {% for method in step.methods %}
          <li><a href="#{{ method.title | slugify }}">{{ method.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="doc-container">
    {% for step in site.data.steps %}
    <div>
      <h2 class="first-heading"><code>“{{ step.title }}” Methods</code></h2>
      {% for method in step.methods %}
      <div>
        <h3>
          <a id="{{ method.title | slugify }}"></a>
          <code>{{ method.example }}</code>
        </h3>
        {{ method.description | markdownify }}
        <h4>Regex</h4>
        {% highlight javascript %}{{ method.regex }}{% endhighlight %}
        <hr/>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
